---
import Base from "../layouts/Base.astro";
import Header from "../layouts/Header.astro";
import Fv from "../layouts/Fv.astro";
import AssetsImage from "../components/common/AssetsImage.astro";
import AssetsPicture from "../components/common/AssetsPicture.astro";
import Button from "../components/ui/Button.astro";
import Picture from "../components/common/Picture.astro";
import type { Work } from "../types/work";

const res = await fetch(
  `${import.meta.env.PUBLIC_API_URL}/works?_embed&per_page=3`
);
const workList: Work[] = await res.json();
---

<Base pageMeta="home" pageData="home">
  <!-- body内の要素 -->
  <Header />
  <Fv />
  <section class="about">
    <div class="about__area">
      <h2 class="about__title">About</h2>
      <p class="about__text">
        プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <Button href="/about" text="もっと見る" />
    </div>
  </section>
  <section class="works">
    <div class="works__area">
      <h2 class="works__title">Works</h2>
      <ul class="works__list">
        {
          workList.map((item) => (
            <li class="works__item">
              <a class="works__link" href={`/works/${item.slug}`}>
                <div class="image">
                  <img
                    src={
                      item._embedded?.["wp:featuredmedia"]?.[0]?.source_url ??
                      ""
                    }
                    alt=""
                    class="i"
                  />
                </div>
                <p class="works__title">{item.title.rendered}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
<style lang="scss" is:global>
  .about {
    @include media(sp) {
      padding: 0 sp(24);
      margin-top: sp(60);
      padding-right: sp(16);
      margin-bottom: sp(60);
      padding-left: sp(16);
    }
    @include media(pc) {
      padding: 0 pc(40);
      margin-top: pc(120);
      margin-bottom: pc(180);
    }
    > .about__area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      @include media(pc) {
        width: pc(800);
        gap: pc(40);
      }
      > .about__title {
        text-align: center;
        @include media(sp) {
          font-size: sp(24);
        }
        @include media(pc) {
          font-size: pc(40);
        }
      }
      > .about__text {
      }
    }
  }
  .works {
    @include media(sp) {
      padding: 0 sp(24);
      margin-top: sp(60);
      padding-right: sp(16);
      margin-bottom: sp(60);
      padding-left: sp(16);
    }
    @include media(pc) {
      padding: 0 pc(40);
      margin-top: pc(120);
      margin-bottom: pc(180);
    }
    > .works__area {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: pc(40);
      justify-content: center;
      > .works__title {
        text-align: center;
        @include media(sp) {
          font-size: sp(24);
        }
        @include media(pc) {
          font-size: pc(40);
        }
      }
      > .works__list {
        display: grid;
        @include media(sp) {
          grid-template-rows: repeat(3, 1fr);
          gap: sp(16);
        }
        @include media(pc) {
          grid-template-columns: repeat(3, 1fr);
          gap: pc(16);
        }
        > .works__item {
          > .works__link {
            aspect-ratio: 16 /9;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            @include media(sp) {
              gap: sp(8);
            }
            @include media(pc) {
              gap: pc(8);
            }
            > .image {
              width: 100%;
              height: 100%;
              display: block;
              > .i {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            > .works__title {
              color: #000;
              @include media(sp) {
                font-size: sp(24);
              }
              @include media(pc) {
                font-size: pc(24);
              }
            }
          }
        }
      }
    }
  }
</style>
